figure {
  border: thin #c0c0c0 solid;
  display: flex;
  flex-flow: column;
  padding: 5px;
  max-width: 600px;
  margin: auto;
}

figcaption {
  background-color: #222;
  color: #fff;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}

#main-header{
  text-align:center;
  background-color:#222;
  color:white;
  padding:10px;
}

#main-footer{
  text-align: center;
  font-size:18px;
  background-color: #222;
  padding: 0.1px;
  color: white;
}
